---
// Registration redirect page
// This page redirects to the native signup form
---

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Register - SECiD</title>
    <meta
      http-equiv="refresh"
      content="0; url=/en/signup"
    />
    <script type="text/javascript">
      window.location.href = '/en/signup';
    </script>
  </head>
  <body>
    <p>Redirecting to registration form...</p>
    <p>
      If you are not redirected automatically, <a
        href="/en/signup">click here</a
      >.
    </p>
  </body>
</html>