---
import DashboardLayout from '../../../../layouts/DashboardLayout.astro';
---

<DashboardLayout title="NLP Commission Dashboard">
  <div id="nlp-dashboard"></div>
</DashboardLayout>

<script>
  import { createRoot } from 'react-dom/client';
  import React from 'react';
  import NLPDashboard from '../../../../components/commissions/NLPDashboard';

  const container = document.getElementById('nlp-dashboard');
  if (container) {
    const root = createRoot(container);
    root.render(React.createElement(NLPDashboard));
  }
</script>
