---
// Registration redirect page
// This page redirects to the native signup form
---

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Registro - SECiD</title>
    <meta
      http-equiv="refresh"
      content="0; url=/es/signup"
    />
    <script type="text/javascript">
      window.location.href = '/es/signup';
    </script>
  </head>
  <body>
    <p>Redirigiendo al formulario de registro...</p>
    <p>
      Si no eres redirigido automáticamente, <a
        href="/es/signup">haz clic aquí</a
      >.
    </p>
  </body>
</html>
